:root {
    --blue: rgb(67, 94, 225);
    --light-blue: rgb(162, 178, 255);
}

.title {
    text-align: center;
    padding: 2%;
}

#display-current-weather {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    padding: 10px;
    margin: 1%;
}

#display-forecast {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-blue);
    padding: 10px;
    margin: 1%;
}
  